body{
    background-color: cadetblue;
}

.square1{
    text-align: left;
    color: blue;
    font-family: fantasy;
}

.s2{
    text-align: center;

    color: yellow;
}

.square3{
    text-align: right;
    color: purple;
    font-family: unset;
}